[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/venv/bin/uwsgi -i /srv/2023_SKHU_WorkShop/.config/uwsgi/workshop_prj.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target