{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>2023 소프트웨어공학 워크샵</title>

	<!--css-->
	<link rel="stylesheet" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	{% block link %}
	{% endblock %}

	<!--favicon-->
	<link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
	<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

	<!--kakaotalk-->
	<meta property="og:url" content="http://skhu-swworkshop.site/">
	<meta property="og:title" content="당신의 개발자 타입은?">
	<meta property="og:image" content="{% static 'img/kakaotalk.png' %}">
	<meta property="og:description" content="2023 소프트웨어공학과 워크샵">
	<meta property="og:type" content="website">
</head>

<body>
	<!--전체 div 하나 더 씌움-->
	<div class="content_frame">
		<!-- 원 움직이는 캔버스 -->
		<div id="background_canvas">
		</div>
		<div id="content">
			<article class="index">
				<div class="main_container">
					<nav role="navigation" class="nav_container">
						<input class="burger-check" type="checkbox" id="burger-check" />
						<label class="burger-icon" for="burger-check">
							<span class="burger-sticks"></span>
						</label>
						<div class="wrap_menu">
							<div class="content_menu">
								<a class="anchor_menu" href="{% url 'main' %}">홈</a>
								<hr>
								<a class="anchor_menu" href="{% url 'introduce' %}">2023 <br> 소프트웨어공학과 <br> 워크샵</a>
								<hr>
								<a class="anchor_menu" href="{% url 'guestbook' %}">방명록</a>
								<hr>
								<a class="anchor_menu" href="{% url 'cast' %}">소개</a>
							</div>
						</div>
					</nav> <!-- nav_container-->

					<!--내부 내용 분리-->
					{% block content %}

					{% endblock %}
				</div> <!-- main_container -->
			</article>
		</div> <!-- 전체 콘텐츠 -->

		<!--방명록 input 분리-->
		{% block input %}
		{% endblock %}
	</div>
	<script src="https://kit.fontawesome.com/92dfdaf3a2.js" crossorigin="anonymous"></script>
	<script src="{% static 'js/bouncingball.js' %}"></script>
</body>

</html>