{% extends 'base.html' %}
{% load static %}

{% block content %}
<article class="cast">
	<div class="cast_body">

		<div class="wrap_cast_headline2">
			<h2 class="sub_headline2">소개</h2>
		</div>
		<div class="wrap_cast_paragraph">
			<p class="cast_intro_paragraph">
				안녕하세요! 이번 2023년<br>
				성공회대학교 소프트웨어공학과<br>
				워크샵 기획단을 맡게 된,<br>
				교내 코딩 연합 동아리<br>
				"멋쟁이사자처럼"의 운영진입니다. <br><br>
				재미있는 워크샵을 만들어보고자<br>
				본격적인 행사 진행 이전에<br>
				팀 빌딩에 사용될 테스트 사이트를<br>
				직접 제작하게 되었습니다.<br><br>
				즐거운 경험이 되었기를 바랍니다 ☺️
			</p>
		</div>

		<div class="hr_recommend">
			<hr class="hr_cast">
			<span class="hr_span">기획단</span>
			<hr class="hr_cast">
		</div>

		<div class="flexwrap_cast">
			<div class="wrap_cast_inform">
				<div class="cast_inform_emoji">😎</div>
				<div class="content_cast_inform_name">
					<h2>김은혜</h2>
					<a href="https://github.com/GraceKim527" class="content_github">
						<img src="{% static 'img/github.png' %}" alt="github" width="15" height="15" />
						<span>GraceKim527</span>
					</a>
				</div>
				<div class="content_cast_inform_major">
					<h3>컴퓨터공학과 / 소프트웨어공학과</h3>
					<div class="wrap_hashtag_box">
						<div class="hashtag_box">
							<span>#소프워크샵총괄</span>
						</div>
						<div class="hashtag_box">
							<span>#기획단장</span>
						</div>
					</div>
					<div class="wrap_hashtag_box">
						<div class="hashtag_box">
							<span>#프론트엔드총괄</span>
						</div>
						<div class="hashtag_box">
							<span>#멋사대표</span>
						</div>
					</div>
				</div>
			</div>

			<div class="wrap_cast_inform">
				<div class="cast_inform_emoji">😈</div>
				<div class="content_cast_inform_name">
					<h2>강민정</h2>
					<a href="https://github.com/staccato20" class="content_github">
						<img src="{% static 'img/github.png' %}" alt="github" width="15" height="15" />
						<span>staccato20</span>
					</a>
				</div>
				<div class="content_cast_inform_major">
					<h3>컴퓨터공학과 / 소프트웨어공학과</h3>
					<div class="wrap_hashtag_box">
						<div class="hashtag_box">
							<span>#전체디자인</span>
						</div>
						<div class="hashtag_box">
							<span>#프론트엔드개발</span>
						</div>
					</div>
					<div class="wrap_hashtag_box">
						<div class="hashtag_box">
							<span>#사이트기획</span>
						</div>
					</div>
				</div>
			</div>

			<div class="wrap_cast_inform">
				<div class="cast_inform_emoji">🐹</div>
				<div class="content_cast_inform_name">
					<h2>주영빈</h2>
					<a href="https://github.com/Rommmu" class="content_github">
						<img src="{% static 'img/github.png' %}" alt="github" width="15" height="15" />
						<span>Rommmu</span>
					</a>
				</div>
				<div class="content_cast_inform_major">
					<h3>컴퓨터공학과 / 소프트웨어공학과</h3>
					<div class="wrap_hashtag_box">
						<div class="hashtag_box">
							<span>#백엔드개발</span>
						</div>
						<div class="hashtag_box">
							<span>#워크샵기획</span>
						</div>
					</div>
					<div class="wrap_hashtag_box">
						<div class="hashtag_box">
							<span>#서버구축형상관리</span>
						</div>
					</div>
				</div>
			</div>

			<div class="wrap_cast_inform">
				<div class="cast_inform_emoji">🧐</div>
				<div class="content_cast_inform_name">
					<h2>최명환</h2>
					<a href="https://github.com/CMH5701" class="content_github">
						<img src="{% static 'img/github.png' %}" alt="github" width="15" height="15" />
						<span>CMH5701</span>
					</a>
				</div>
				<div class="content_cast_inform_major">
					<h3>소프트웨어공학과 / 경영학과</h3>
					<div class="wrap_hashtag_box">
						<div class="hashtag_box">
							<span>#백엔드개발</span>
						</div>
						<div class="hashtag_box">
							<span>#워크샵기획</span>
						</div>
					</div>
					<div class="wrap_hashtag_box">
						<div class="hashtag_box">
							<span>#행사자료제작</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="hr_recommend">
			<hr class="hr_cast">
			<span class="hr_span">협력진</span>
			<hr class="hr_cast">
		</div>

		<div class="flexwrap_cast">
			<div class="wrap_cast_inform">
				<div class="cast_inform_emoji">🫠</div>
				<div class="content_cast_inform_name">
					<h2>이한길</h2>
					<a href="https://github.com/hangillee" class="content_github">
						<img src="{% static 'img/github.png' %}" alt="github" width="15" height="15" />
						<span>hangillee</span>
					</a>
				</div>
				<div class="content_cast_inform_major">
					<h3>컴퓨터공학과 / 소프트웨어공학과</h3>
					<div class="wrap_hashtag_box">
						<div class="hashtag_box">
							<span>#GDSC리드</span>
						</div>
					</div>
				</div>
			</div>

			<div class="wrap_cast_inform">
				<div class="cast_inform_emoji">🛳️</div>
				<div class="content_cast_inform_name">
					<h2>박신영</h2>
					<a href="https://github.com/ParkSY0919" class="content_github">
						<img src="{% static 'img/github.png' %}" alt="github" width="15" height="15" />
						<span>ParkSY0919</span>
					</a>
				</div>
				<div class="content_cast_inform_major">
					<h3>소프트웨어공학과 / 정보통신공학과</h3>
					<div class="wrap_hashtag_box">
						<div class="hashtag_box">
							<span>#코딩보틀운영진</span>
						</div>
					</div>
				</div>
			</div>

			<div class="wrap_cast_inform">
				<div class="cast_inform_emoji">🍎</div>
				<div class="content_cast_inform_name">
					<h2>주동석</h2>
					<a href="https://github.com/MojitoBar" class="content_github">
						<img src="{% static 'img/github.png' %}" alt="github" width="15" height="15" />
						<span>MojitoBar</span>
					</a>
				</div>
				<div class="content_cast_inform_major">
					<h3>소프트웨어공학과 / 정보통신공학과</h3>
					<div class="wrap_hashtag_box">
						<div class="hashtag_box">
							<span>#프론트엔드강연</span>
						</div>
					</div>
				</div>
			</div>

			<div class="wrap_cast_inform">
				<div class="cast_inform_emoji">🤠</div>
				<div class="content_cast_inform_name">
					<h2>오동재</h2>
					<a href="https://github.com/djdongjae" class="content_github">
						<img src="{% static 'img/github.png' %}" alt="github" width="15" height="15" />
						<span>djdongjae</span>
					</a>
				</div>
				<div class="content_cast_inform_major">
					<h3>컴퓨터공학과 / 소프트웨어공학과</h3>
					<div class="wrap_hashtag_box">
						<div class="hashtag_box">
							<span>#백엔드강연</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</article>
{% endblock %}