{% extends 'base.html' %}
{% load static %}

{% block content %}
<article class="guestbook">
	<div class="guestbook_content">
		<div class="wrap_sub_headline2">
			<h2 class="sub_headline2">2023<br>성공회대학교<br>소프트웨어공학과<br>워크샵</h2>
		</div>

		<div class="wrap_timetable">
			<table class="timetable">
				<tr>
					<td class="border-bottom border-right">날짜</td>
					<td class="border-bottom">2023. 11. 01</td>
				</tr>
				<tr>
					<td class="border-bottom border-right">시간</td>
					<td class="border-bottom">15:00 ~ 18:00</td>
				</tr>
				<tr>
					<td class="border-right">장소</td>
					<td>6110호</td>
				</tr>
			</table>
		</div>

		<div class="wrap_explain_workshop">
			<p class="paragraph_workshop_ex">
				소프트웨어공학과 워크샵은 <br>
				소프트웨어공학과에 관심이 있는 <br>
				<b>전학년이 참여 가능</b>한 행사로, <br><br>

				소프트웨어공학에 대한 <br>
				크고 작은 지식은 물론, <br>
				<b>관련 교내 동아리 정보</b>와 <br>
				소프트웨어공학 전공을 통해 <br>
				<b>진출할 수 있는 분야</b>에 대한 <br>
				<b>전공선배의 강연</b>까지 들을 수 있습니다! <br> <br>

				그 밖에 워크샵에 참여한 학우들과 <br>
				<b>친목을 다질 수 있는 다양한 게임</b>이 <br>
				여러분을 기다리고 있으니 <br>

				관심 있으신 분들은 페이지 하단에 위치한 <br>
				버튼으로 개발자 타입 테스트를 진행하고 <br>
				워크샵에 지원하러 가보아요~
			</p>
		</div>

		<div class="hr_recommend">
			<hr class="hr_tt">
			<span class="hr_span">TIME TABLE</span>
			<hr class="hr_tt">
		</div>

		<div class="wrap_timetable_content">
			<div class="content_time">
				<div class="time_circle">
					<div></div>
				</div>
				<h3 class="headline_time">15:00 ~ 16:00</h3>
			</div>
			<div class="content_inner">
				<h4>전공선배 강연 및 동아리 소개</h4>
				<div class="wrap_hashtag_box">
					<div class="hashtag_box">
						<span>#프론트엔드</span>
					</div>
					<div class="hashtag_box">
						<span>#백엔드</span>
					</div>
				</div>
				<div class="wrap_hashtag_box">
					<div class="hashtag_box">
						<span>#멋사</span>
					</div>
					<div class="hashtag_box">
						<span>#GDSC</span>
					</div>
					<div class="hashtag_box">
						<span>#코딩보틀</span>
					</div>
				</div>
			</div>

			<div class="content_time">
				<div class="time_circle">
					<div></div>
				</div>
				<h3 class="headline_time">16:00 ~ 17:00</h3>
			</div>
			<div class="content_inner">
				<h4>팀별 아이스브레이킹 시간</h4>
				<div class="wrap_hashtag_box">
					<div class="hashtag_box">
						<span>#프로젝트팀</span>
					</div>
					<div class="hashtag_box">
						<span>#우리친해져요</span>
					</div>
				</div>
			</div>

			<div class="content_time">
				<div class="time_circle">
					<div></div>
				</div>
				<h3 class="headline_time">17:00 ~ 18:00</h3>
			</div>
			<div class="content_inner_last">
				<h4>팀대항 단체 게임 시간</h4>
				<div class="wrap_hashtag_box">
					<div class="hashtag_box">
						<span>#어쩌면미래의같은과동기들</span>
					</div>
				</div>
			</div>
		</div>

		<a class="testanchor" href="{% url 'main' %}">
			테스트하고 워크샵 지원하러 가기
		</a>
	</div>
	</div> <!-- main_container -->
</article>
{% endblock %}